{% extends "ClubDelLibro/base.html"  %}

{% load static %}

{% block main %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">HAY GRANDES LIBROS EN EL MUNDO, Y GRANDES MUNDOS EN LOS LIBROS</font></font></h1>
          
            
           

          </p>
        </div>
      </div>
    </section>
   
    <p>Con el fin de poder brindar un sitio donde a todos los que nos apasiona la lectura podamos compartir, intercambiar, difundir opiniones e informacion acerca de libros creamos en maarzo de 2018 LIBROTECA.<br>
        Contamos hoy en dia con mas de diez mil publicaciones, ademas de la interaccion entre nuestra comunidad.<br>
        Espero que puedas usar este espacio y te unas a nosotros.
        Gracias por visitarnos.</p>
    <div class="album py-5 bg-light">
      <div class="container">
  
        {% block postales %} {% endblock %}
      </div>
    </div>
  
  </main>
  {% endblock %}








