{%extends "ClubDelLibro/index.html" %}

{% load static %}



{% block  postales %}

<ul>


    {%  if not Bibliotecas %}
   
    <h3>Todavia no se realizo niguna recomendacion</h3>
    <p>Se el primero en realizarla</p>  
    
    <p>
        <a href="{% url "biblioteca-create" %}" class="btn btn-primary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">MI PRIMER RECOMENDACION</font></font></a>
        
      </p>
    
    {% endif %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  


  {% for libro in Bibliotecas %}
        <div class="col">
        <div class="card shadow-sm">
            <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{libro.image_url}}" data-holder-rendered="true">
            <div class="card-body">
            <p class="card-text">{{libro.nombre}}</p>
            <p class="card-text">{{libro.descripcion}}</p>
            <p class="card-text">{{libro.creado_el}}</p>
            <a href="{% url "biblioteca-sindetalles" %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">detalles</font></font></a>
            
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                {% if user.is_authenticated and user.id == libro.book.id  %}
                    <a href="{% url 'biblioteca-delete' libro.id %}" type="button" class="btn btn-sm btn-outline-secondary">Borrar</a>
                    <a href="{% url 'biblioteca-update' libro.id %}" type="button" class="btn btn-sm btn-outline-secondary">Actualizar</a>
                {% endif %}
                </div>
                <small class="text-muted">{{libro.genero}}</small>
                
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
  </div>
</ul>



{% endblock %}
